* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
}

/*
MAIN COLOURS
*/
/*
TEXT SHADES
*/
/* 
SHADOWS
*/
/*
BACKGROUND
*/
/*
LAYOUT
*/
@font-face {
  src: url("../assets/fonts/HelveticaNeue.otf");
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-Bold.otf");
  font-family: "Helvetica";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-BoldItalic.otf");
  font-family: "Helvetica";
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-CondensedBlack.otf");
  font-family: "Helvetica";
  font-weight: bolder;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-CondensedBold.otf");
  font-family: "Helvetica";
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-Italic.otf");
  font-family: "Helvetica";
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-Light.otf");
  font-family: "Helvetica";
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-LightItalic.otf");
  font-family: "Helvetica";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-Medium.otf");
  font-family: "Helvetica";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-Ultralight.otf");
  font-family: "Helvetica";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url("../assets/fonts/HelveticaNeue-UltralightItalic.otf");
  font-family: "Helvetica";
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}
.t-1,
h1 {
  font-size: 5rem;
}

.t-2,
h2 {
  font-size: 4rem;
}

.t-3,
h3 {
  font-size: 3rem;
}

.t-4,
text,
p,
h4 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
text,
p,
a {
  color: #D2D2D2;
  font-family: Helvetica;
}
h1.ts-1,
h2.ts-1,
h3.ts-1,
h4.ts-1,
h5.ts-1,
text.ts-1,
p.ts-1,
a.ts-1 {
  color: #D2D2D2;
}
h1.ts-2,
h2.ts-2,
h3.ts-2,
h4.ts-2,
h5.ts-2,
text.ts-2,
p.ts-2,
a.ts-2 {
  color: #A7A7A7;
}
h1.ts-3,
h2.ts-3,
h3.ts-3,
h4.ts-3,
h5.ts-3,
text.ts-3,
p.ts-3,
a.ts-3 {
  color: #202020;
}
h1.ts-4,
h2.ts-4,
h3.ts-4,
h4.ts-4,
h5.ts-4,
text.ts-4,
p.ts-4,
a.ts-4 {
  color: #0f0f0f;
}
h1.italic,
h2.italic,
h3.italic,
h4.italic,
h5.italic,
text.italic,
p.italic,
a.italic {
  font-style: italic;
}
h1.condensed,
h2.condensed,
h3.condensed,
h4.condensed,
h5.condensed,
text.condensed,
p.condensed,
a.condensed {
  font-stretch: condensed;
}
h1.ultralight,
h2.ultralight,
h3.ultralight,
h4.ultralight,
h5.ultralight,
text.ultralight,
p.ultralight,
a.ultralight {
  font-weight: 100;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
text.light,
p.light,
a.light {
  font-weight: 300;
}
h1.medium,
h2.medium,
h3.medium,
h4.medium,
h5.medium,
text.medium,
p.medium,
a.medium {
  font-weight: 500;
}
h1.bold,
h2.bold,
h3.bold,
h4.bold,
h5.bold,
text.bold,
p.bold,
a.bold {
  font-weight: bold;
}
h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
text.black,
p.black,
a.black {
  font-weight: black;
}
h1.override,
h2.override,
h3.override,
h4.override,
h5.override,
text.override,
p.override,
a.override {
  font-size: inherit;
}

.page {
  width: 100%;
  height: 100vh;
}

.main-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.main-content-wrapper {
  width: 100%;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18em;
  padding: 1em 3em;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 1rem 1rem 1.5rem 0.1rem;
  background: linear-gradient(to bottom, #9DCC6B 50%, #011012 50%);
  background-size: 100% 200%;
  background-position-y: 100%;
  color: #D2D2D2;
  text-align: center;
  cursor: pointer;
  transition: background-position 100ms ease-in-out 10ms, box-shadow 150ms ease-in-out 20ms;
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.card::-webkit-scrollbar {
  display: none;
}
.card .title {
  font-size: 3.5rem;
}
.card .content {
  display: none;
  font-size: 2rem;
}
.card:hover, .card:focus {
  background-position: 0 0;
  box-shadow: rgba(157, 204, 107, 0.1) 1rem 1rem 3rem 0.3rem;
}
.card:hover .content, .card:focus .content {
  display: block;
}
.card:hover .title, .card:focus .title {
  display: none;
}
.card.s {
  font-size: 1rem;
}
.card.m {
  font-size: 2rem;
}
.card.l {
  font-size: 2.4rem;
}

html {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

.main-page-wrapper {
  background: #02191C;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.main-page-wrapper .top-content-wrapper {
  position: relative;
  background: #011012;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 1rem 1.5rem 0.7rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.main-page-wrapper .top-content-wrapper .accent-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #9DCC6B, #19715B);
}
.main-page-wrapper .top-content-wrapper .main-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.main-page-wrapper .top-content-wrapper .main-content .logo {
  display: block;
  max-width: 2ch;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10ch;
}
.main-page-wrapper .top-content-wrapper .main-content .nav-group {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.main-page-wrapper .top-content-wrapper .main-content .nav-group .item {
  display: inline-block;
}
.main-page-wrapper .top-content-wrapper .main-content .nav-group .item:not(:last-child) {
  margin-right: 5ch;
}
.main-page-wrapper .top-content-wrapper .main-content .status {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10ch;
  text-align: right;
}
.main-page-wrapper .top-content-wrapper .pad-left,
.main-page-wrapper .top-content-wrapper .pad-right {
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 25%;
}
.main-page-wrapper .main-content-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.main-page-wrapper .main-content-wrapper .main-content-left,
.main-page-wrapper .main-content-wrapper .main-content-right {
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 25%;
}
.main-page-wrapper .main-content-wrapper .main-content-center {
  width: 100%;
  margin-top: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  grid-auto-rows: 23rem;
  grid-gap: 6rem;
  justify-content: center;
}

/*# sourceMappingURL=home.css.map */
