.card {
    @include flexitem(0, 0, 18em);   
    
    padding: $card-padding;    
    border-radius: $card-radius;    

    @include shadow(#000000, 0.4, 1rem, 1rem, 1.5rem, .1rem);
    background: linear-gradient(to bottom, $accent 50%, $darker 50%);
    background-size: 100% 200%;
    background-position-y: 100%;
    color: $text-shade-1;
    text-align: center;    
    cursor: pointer;
    transition: background-position 100ms ease-in-out 10ms, 
                box-shadow 150ms ease-in-out 20ms;

    @include scrollbegone();
    @include flexbox($align-main: center, $align-perp: center);

    .title {
        font-size: 3.5rem;        
    }

    .content {        
        display: none;
        font-size: 2rem;
    }
    
    &:hover,
    &:focus {
        background-position: 0 0;
        @include shadow($accent, 0.1, 1rem, 1rem, 3rem, .3rem);
        .content {
            display: block;                       
        }
        .title {
            display: none;            
        }
    }

    &.s {
        font-size: 1rem;
    }
    &.m {
        font-size: 2rem;
    }
    &.l {
        font-size: 2.4rem;
    }
}