.page {
    width: 100%;
    height: 100vh;
}
.main-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.main-content-wrapper {
    width: 100%;
}

@mixin flexbox($direction: row, $wrap: nowrap, $align-main: flex-start, 
                $align-perp: flex-start, $align-content: flex-start) {
                    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: $direction $wrap;
    justify-content: $align-main;
    align-items: $align-perp;
    align-content: $align-content;
}

@mixin flexitem($grow: 0, $shrink: 0, $basis: auto) {
    // flex: $grow $shrink $basis;
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
}

@mixin infinite-grid($row-size, $columns, $grid-gap: 0) {
    display: grid;
    grid-template-columns: $columns;
    grid-auto-rows: $row-size;
    grid-gap: $grid-gap;
    justify-content: center;
}