@font-face {
    src: url('../assets/fonts/HelveticaNeue.otf');
    font-family: "Helvetica";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-Bold.otf');
    font-family: "Helvetica";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-BoldItalic.otf');
    font-family: "Helvetica";
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-CondensedBlack.otf');
    font-family: "Helvetica";
    font-weight: bolder;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-CondensedBold.otf');
    font-family: "Helvetica";
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-Italic.otf');
    font-family: "Helvetica";
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-Light.otf');
    font-family: "Helvetica";
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-LightItalic.otf');
    font-family: "Helvetica";
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-Medium.otf');
    font-family: "Helvetica";
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-Ultralight.otf');
    font-family: "Helvetica";
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    src: url('../assets/fonts/HelveticaNeue-UltralightItalic.otf');
    font-family: "Helvetica";
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}