html {
  @media screen and (min-width: 0px) {
    font-size: 6px;
  }
  @media screen and (min-width: 900px) {
    font-size: 8px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 9px;
  }
  @media screen and (min-width: 2200px) {
    font-size: 10px;
  }
}
