@mixin glow($colour: $accent, $blur: 5rem, $spread: .5rem) {
    -webkit-box-shadow: 0px 0px $blur $spread $colour;
    -moz-box-shadow: 0px 0px $blur $spread $colour;
    box-shadow: 0px 0px $blur $spread $colour;
}

@mixin scrollbegone() {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin shadow($colour: #000000, $opacity: 0.4, $x: 0, $y: 0, $blur: 5px, $spread: 5px) {
    box-shadow: rgba($colour, $opacity) $x $y $blur $spread;
}

@mixin flexbox($direction: row, $wrap: nowrap, $align-main: flex-start, 
                $align-perp: flex-start, $align-content: flex-start) {
                    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: $direction $wrap;
    justify-content: $align-main;
    align-items: $align-perp;
    align-content: $align-content;
}

@mixin flexitem($grow: 0, $shrink: 0, $basis: auto) {
    // flex: $grow $shrink $basis;
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
}

@mixin infinite-grid($row-size, $columns, $grid-gap: 0) {
    display: grid;
    grid-template-columns: $columns;
    grid-auto-rows: $row-size;
    grid-gap: $grid-gap;
    justify-content: center;
}