.t-1,
h1 {
    font-size: 5rem;
}

.t-2,
h2 {
    font-size: 4rem;
}

.t-3,
h3 {
    font-size: 3rem;
}

.t-4,
text,
p, 
h4 {
    font-size: 2rem;
}

* {  
    color: $text-shade-1;   
    font-family: Helvetica;   


    &.ts-1 {
        color: $text-shade-1;
    }

    &.ts-2 {
        color: $text-shade-2;
    }

    &.ts-3 {
        color: $text-shade-3;
    }

    &.ts-4 {
        color: $text-shade-4;
    }

    &.error {
        color: $error;
    }

    &.success {
        color: $success;
    }

    &.italic {
        font-style: italic;
    }

    &.condensed {
        font-stretch: condensed;
    }

    &.ultralight {
        font-weight: 100;
    }

    &.light {
        font-weight: 300;
    }

    &.medium {
        font-weight: 500;
    }

    &.bold {
        font-weight: bold;
    }

    &.black {
        font-weight: black;
    }
    &.override {
        font-size: inherit;
    }
}